* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 120%;
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    box-shadow: 10px 10px 50px 1px gray;
    margin: 50px auto;
    width: 50%;
    height: 75%;
    padding: 20px;
    border: 1px solid white;
    background: white;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    font-weight: bold;
}

.input-group input {
    height: 50px;
    width: 100%;
    padding: 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #E37423;
    border: none;
    width: 50%;
    position: absolute;
    bottom: 20%;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    text-align: left;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
